@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500&display=swap');

* {
    border: 0;
    margin: 0;
    text-decoration: none;
    padding: 0;

    font-family: 'Montserrat', sans-serif;

    /* border: 1px solid red; */
}

header {
    padding: 20px;
    display: flex;
    align-items: flex-end;
}

header p {
    font-size: 30px;
}

header h1 {
    color: #e80a3d;
}

main {
    flex-direction: column;
}

.productsContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.productCard {
    width: 300px;
    height: 520px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    background-color: #f2f3f5;
    padding: 15px;
    border-radius: 14px;

}
.productCard img {
    width: 80%;
}
.details {
    flex-direction: column;
    display: flex;
    height: 200px;
    justify-content: space-around;
    align-items: flex-start;
}
.details p {
    max-height: 76px;
    overflow-y: scroll;
    display: flex;
    font-size: 15px;
}
.details p::-webkit-scrollbar {
    width: 2px;
}
.details p::-webkit-scrollbar-track {
    width: 5px;
}
.details p::-webkit-scrollbar-thumb {
    background-color: #e80a3d;
    width: 5px;
    border-radius: 5px;
}

.addInCart button {
    background-color: #e80a3d;
    width: 200px;
    height: 45px;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

.addInCart button i {
    margin-right: 5px;
}
