@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500&display=swap');

* {
    border: 0;
    margin: 0;
    text-decoration: none;
    padding: 0;

    font-family: 'Montserrat', sans-serif;

    /* border: 1px solid red; */
}

header {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header div {
    display: flex;
    align-items: flex-end;
}

header i {
    color: #e80a3d;
    margin-right: 20px;
    transition: .2s ease-in;
    cursor: pointer;
    z-index: 2;
}
header i:hover {
    scale: 1.1;
}

header p {
    font-size: 30px;
}

header h1 {
    color: #e80a3d;
}

main {
    flex-direction: column;
}

.productsContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 60px 0;
    height: 700px;
}

.productCard {
    width: 300px;
    height: 520px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    background-color: #f2f3f5;
    padding: 15px;
    border-radius: 14px;

}
.productCard img {
    width: 80%;
}
.details {
    flex-direction: column;
    display: flex;
    height: 200px;
    justify-content: space-around;
    align-items: flex-start;
}
.details p {
    max-height: 76px;
    overflow-y: scroll;
    display: flex;
    font-size: 15px;
}
::-webkit-scrollbar {
    width: 2px;
}
::-webkit-scrollbar-track {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background-color: #e80a3d;
    width: 5px;
    border-radius: 5px;
}

.addInCart button {
    background-color: #e80a3d;
    width: 200px;
    height: 45px;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.addInCart button:hover {
    background-color: #fff;
    color: #e80a3d;
    box-shadow: 0px 0px 8px #8b8b8b;
}

.addInCart button i {
    margin-right: 5px;
}


.cart {
    overflow: hidden;
    position: absolute;

    right: 0;
    transform: translateY(-50%);
    z-index: 1;
    top: 50%;
    height: 88.5%;
    width: 0;
    padding: 55px;

    background-color: #f2f3f5;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    transition: .4s ease-out;
    display: none;
    
    border-left: #aaa9a9 1px solid;
}

.cart h1 {
    width: 400px;
    text-align: center;
}

.cart-item {
    background-color: #e80a3d;
    width: 550px;
    height: 165px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
}

.cart-item img {
    width: 20%;
}
.cart-desc-item {
    width: 350px;
}
.cart-desc-item p {
    color: #fff;
}

.buttonPurshace {
    width: 225px;
    height: 60px;
    padding: 10px;
    border-radius: 6px;

    border: #e80a3d 2px solid;
    color: #e80a3d;
    font-weight: 600;

    cursor: pointer;
    transition: .2s ease-in-out;

    font-size: 20px;
}

.buttonPurshace:hover {
    background-color: #e80a3d;
    color: #fff;
}

.priceDesc {
    font-weight: 700;
}

.cart-empty {
    width: 550px;
    height: 100px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    color: #999999;
}
.desc-empty {
    align-items: center;
    display: flex;
    flex-direction: column;
}

#purshaceComplete {
    position: absolute;
    transform: translate(50%,-50%);
    top: 50%;
    right: 50%;

    width: 450px;
    height: 170px;

    background-color: #b7e9ce;
    color: #00ab56;

    align-items: center;
    justify-content: space-evenly;
    display: flex;

    animation: notifySucess .5s ease-in-out;

    border-radius: 12px;
}
#purshaceComplete i {
    scale: 1.2;
}

@keyframes notifySucess {
    from {
        scale: 0.1;
    }
    to {
        scale: 1;
    }
}